.header {
  background-color: black;
  color: red;
  padding: 15px;
}

.movie-card {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.movie-card img {
  width: 200px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}
